<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Hizkia Ginting</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
	<link id="theme-style" rel="stylesheet" type="text/css" href="">
</head>
<body>

	<section class="s1"  style="height: 100vh;">
		<div class="main-container">
			<div class="greeting-wrapper">
				<h1>Hi, I'm Hizkia Sebastian Ginting</h1>
			</div>


			<div class="intro-wrapper">
				{% include 'base/navbar.html' %}

				<div class="left-column">
					<img id="profile_pic" src="{% static 'images/hizkia.png' %}">
					<h5 style="text-align: center;line-height: 0;"></h5>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
						<div data-mode="green" id="green-mode" class="theme-dot"></div>
						<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					</div>
				</div>
				<div class="right-column">
					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>What I Do</h3>
							<p>I am currently a Computer Science student and Teaching Assistant at Universitas Indonesia</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s2" style="height: 100vh;">

		<div class="main-container">
			<a name="project"></a>

			<div class="about-wrapper">
				
				<div class="about-me">
					<a href="{% url 'home' %}">
						<div class="dots-wrapper">
							<div id="dot-1" class="browser-dot"></div>
							<div id="dot-2" class="browser-dot"></div>
							<div id="dot-3" class="browser-dot"></div>
						</div>
					</a>
					<h4>More about me</h4>
					<p>Dedicated to mastering data science and programming, I currently focus on data and business analytics,
						and machine learning. My determination to learn, adapt, and achieve drives my journey. Excited to bring
						expertise in platform based programming and a growing interest in data science to roles valuing innovation and problem solving.</p>

					<hr>
					<h4>TOP EXPERTISE</h4>
					<p>Aspiring Data Scientist with a strong focus on machine learning using Python: <a target="_blank" href="{% static 'resume.pdf' %}">Download Resume</a></p>
					<div id="skills">
						<ul>
							<li><b>Languages:</b></li>
							<li>Python</li>
							<li>Java</li>
							<li>Dart</li>
							<li>Golang</li>
							<li>JavaScript</li>
							<li>PostgreSQL</li>
						</ul>

						<ul>
							<li><b>Technologies:</b></li>
							<li>Matplotlib</li>
							<li>Seaborn</li>
							<li>Pandas</li>
							<li>NumPy</li>
							<li>Scikit-learn</li>
							<li>PyTorch</li>
						</ul>
						<ul>
							<li><b>Dev Tools:</b></li>
							<li>AWS</li>
							<li>GCP</li>
							<li><b>Framework:</b></li>
							<li>Django</li>
							<li>Flutter</li>
							<li>Java Spring Boot</li>
							
						</ul>
					</div>

				</div>

				
				<div class="social-links">
					<h5>Top 4 Project</h5>
					<div class="project-cards-container">
						<div class="project-card">
							<h6>Coursera Course Search</h6>
							<img src="{% static 'images/semantic.png' %}" alt="Project 1 Image">
							<p style="font-size: 12px;">Web-based search engine using Django to search for courses on Coursera, incorporating Semantic Web principles and integrating both local and remote data (DBPedia).</p>
							<a target="_blank" href="http://35.247.170.211:8080/">Link</a>
						</div>
						<div class="project-card">
							<h6>SMS Spam Classification</h6>
							<img src="{% static 'images/spam_3.png' %}" alt="Project 1 Image">
							<p style="font-size: 12px;">A Django web app utilizing machine learning techniques (SVM) to classify Indonesian SMS messages in real-time, providing an intuitive interface for spam detection.</p>
							<a target="_blank" href="{% url 'spam_classification' %}">Link</a>
						</div>
						<div class="project-card">
							<h6>SE using BM25 & LightGbm</h6>
							<img src="{% static 'images/search.png' %}" alt="Project 2 Image">
							<p style="font-size: 12px;">Search Engine project employing BM25 for initial ranking and LightGBM (LambdaMART) for advanced re-ranking, enhancing search result precision and relevance.</p>
							<a target="_blank" href="https://github.com/hizkiagtg/Ranking">GitHub Repo</a>
						</div>
						<div class="project-card">
							<h6>Wazzt: Waste Bank App</h6>
							<img src="{% static 'images/logo.png' %}" alt="Project 2 Image">
							<p style="font-size: 12px;">Wazzt: A Waste Bank App connecting Flutter mobile and Django web platforms for streamlined waste management and recycling with a user-friendly interface.</p>
							<a target="_blank" href="https://github.com/syadzaarrana/PBP-A09">GitHub Repo</a>
						</div>
	
						<!-- Add two more project cards similarly -->
					</div>
					<div class="contact-section">
						<h4>Contact Me: </h4>
						<div class="link-icons">
							<a target="_blank" href="https://www.linkedin.com/in/hizkia-sebastian">
								<img src="{% static 'images/linkedin-icon.png' %}" alt="LinkedIn" style = "width: 40px;">
							</a>
							<a target="_blank" href="mailto:your.email@example.com">
								<img src="{% static 'images/email-icon.png' %}" alt="Email" style = "width: 40px;">
							</a>
							<a target="_blank" href="https://github.com/hizkiagtg">
								<img src="{% static 'images/github-icon.png' %}" alt="GitHub" style = "width: 40px;">
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="s2" style="height: 100vh;">
		<a href="{% url 'home' %}">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>
				<div id="dot-2" class="browser-dot"></div>
				<div id="dot-3" class="browser-dot"></div>
			</div>
		</a>
		<div class="main-container">
			<a href=""></a>
			<h3 style="text-align: center;">Get In Touch</h3>

			<form id="contact-form" method="POST" action="{% url 'send_email' %}">
				{% csrf_token %}
				<a name="contact"></a>

				<label>Name</label>
				<input required class="input-field" type="text" name="name">

				<label>Subject</label>
				<input required class="input-field" type="text" name="subject">

				<label>Email</label>
				<input required class="input-field" type="text" name="email">

				<label>Message</label>
				<textarea required class="input-field" name="message"></textarea>

				<input id="submit-btn" type="submit" value="Send">
			</form>
		</div>
	</section> 

	<script type="text/javascript">
		let static = "{% static 'css' %}"
	</script>

	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>